{% extends 'base.html' %}
{% block content %}

  <h1>About</h1>

  <blockquote>Welcome to PotatoPalate, your ultimate destination for all things potato salad! We're on a mission to explore the diverse world of potato salads, from classic recipes to innovative twists. Our team of enthusiasts rigorously tastes and rates each concoction, ensuring you embark on a flavorful journey with every click. Join us in celebrating the humble spud in its most delightful form – the potato salad.</blockquote>
  <p>Love, ChatGPT</p>

{% endblock %}